.ct-section {
width:100%;
background-size:cover;
background-repeat:repeat;
}
.ct-section>.ct-section-inner-wrap {
display:flex;
flex-direction:column;
align-items:flex-start;
}
.ct-div-block {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.ct-new-columns {
display:flex;
width:100%;
flex-direction:row;
align-items:stretch;
justify-content:center;
flex-wrap:wrap;
}
.ct-link-text {
display:inline-block;
}
.ct-link {
display:flex;
flex-wrap:wrap;
text-align:center;
text-decoration:none;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-link-button {
display:inline-block;
text-align:center;
text-decoration:none;
}
.ct-link-button {
background-color: #1e73be;
border: 1px solid #1e73be;
color: #ffffff;
padding: 10px 16px;
}
.ct-image {
max-width:100%;
}
.ct-fancy-icon>svg {
width:55px;height:55px;}
.ct-inner-content {
width:100%;
}
.ct-slide {
display:flex;
flex-wrap:wrap;
text-align:center;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-nestable-shortcode {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-comments {
width:100%;
text-align:left;
}
.oxy-comment-form {
width:100%;
}
.oxy-login-form {
width:100%;
}
.oxy-search-form {
width:100%;
}
.oxy-tabs-contents {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab-content {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-testimonial {
width:100%;
}
.oxy-icon-box {
width:100%;
}
.oxy-pricing-box {
width:100%;
}
.oxy-posts-grid {
width:100%;
}
.oxy-gallery {
width:100%;
}
.ct-slider {
width:100%;
}
.oxy-tabs {
display:flex;
flex-wrap:nowrap;
flex-direction:row;
align-items:stretch;
}
.ct-modal {
flex-direction:column;
align-items:flex-start;
}
.ct-span {
display:inline-block;
text-decoration:inherit;
}
.ct-widget {
width:100%;
}
.oxy-dynamic-list {
width:100%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			.ct-div-block,
			.oxy-post-content,
			.ct-text-block,
			.ct-headline,
			.oxy-rich-text,
			.ct-link-text { max-width: 100%; }
			img { flex-shrink: 0; }
			body * { min-height: 1px; }
		}            .oxy-testimonial {
                flex-direction: row;
                align-items: center;
            }
                        .oxy-testimonial .oxy-testimonial-photo-wrap {
                order: 1;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo {
                width: 125px;                height: 125px;                margin-right: 20px;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo-wrap, 
            .oxy-testimonial .oxy-testimonial-author-wrap, 
            .oxy-testimonial .oxy-testimonial-content-wrap {
                align-items: flex-start;                text-align: left;            }
            
                                                            .oxy-testimonial .oxy-testimonial-text {
                margin-bottom:8px;font-size: 21px;
line-height: 1.4;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
                                    .oxy-testimonial .oxy-testimonial-author {
                font-size: 18px;
-webkit-font-smoothing: subpixel-antialiased;
            }
                            

                                                .oxy-testimonial .oxy-testimonial-author-info {
                font-size: 12px;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
             
            
                        .oxy-icon-box {
                text-align: left;                flex-direction: column;            }
            
                        .oxy-icon-box .oxy-icon-box-icon {
                margin-bottom: 12px;
                align-self: flex-start;            }
            
                                                                        .oxy-icon-box .oxy-icon-box-heading {
                font-size: 21px;
margin-bottom: 12px;            }
            
                                                                                    .oxy-icon-box .oxy-icon-box-text {
                font-size: 16px;
margin-bottom: 12px;align-self: flex-start;            }
            
                        .oxy-icon-box .oxy-icon-box-link {
                margin-top: 20px;                            }
            
            
            /* GLOBALS */

                                                            .oxy-pricing-box .oxy-pricing-box-section {
                padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
text-align: center;            }
                        
                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                justify-content: center;            }
            
            /* IMAGE */
                                                                                    .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-graphic {
                justify-content: center;            }
            
            /* TITLE */
                                                            
                                    .oxy-pricing-box .oxy-pricing-box-title-title {
                font-size: 48px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-title-subtitle {
                font-size: 24px;
            }
            

            /* PRICE */
                                                .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                                                flex-direction: row;                                            }
            
                                    .oxy-pricing-box .oxy-pricing-box-currency {
                font-size: 28px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-main {
                font-size: 80px;
line-height: 0.7;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-decimal {
                font-size: 13px;
            }
                        
                                    .oxy-pricing-box .oxy-pricing-box-term {
                font-size: 16px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-sale-price {
                font-size: 12px;
color: rgba(0,0,0,0.5);
                margin-bottom: 20px;            }
            
            /* CONTENT */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-content {
                font-size: 16px;
color: rgba(0,0,0,0.5);
            }
            
            /* CTA */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-cta {
                justify-content: center;            }
            
        
                                .oxy-progress-bar .oxy-progress-bar-background {
            background-color: #000000;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);            animation: none 0s paused;        }
                
                .oxy-progress-bar .oxy-progress-bar-progress-wrap {
            width: 85%;        }
        
                                                        .oxy-progress-bar .oxy-progress-bar-progress {
            background-color: #66aaff;padding: 40px;animation: none 0s paused, none 0s paused;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);        
        }
                
                        .oxy-progress-bar .oxy-progress-bar-overlay-text {
            font-size: 30px;
font-weight: 900;
-webkit-font-smoothing: subpixel-antialiased;
        }
        
                        .oxy-progress-bar .oxy-progress-bar-overlay-percent {
            font-size: 12px;
        }
        
        .ct-slider .unslider-nav ol li {border-color: #ffffff; }.ct-slider .unslider-nav ol li.unslider-active {background-color: #ffffff; }.ct-slider .ct-slide {
				padding: 0px;			}
		
                        .oxy-superbox .oxy-superbox-secondary, 
            .oxy-superbox .oxy-superbox-primary {
                transition-duration: 0.5s;            }
            
            
            
            
            
        
        
        
        
            .oxy-shape-divider {
                width: 0px;
                height: 0px;
                
            }
            
            .oxy_shape_divider svg {
                width: 100%;
            }
            .oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu{
box-shadow:px px px px ;}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a div{
margin-left:0px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
width:30px;
height:30px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon{
padding-top:15px;
padding-right:15px;
padding-bottom:15px;
padding-left:15px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon, .oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon{
top:20px;
left:20px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
width:24px;
height:24px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon, .oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container{
background-color:#ffffff;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-open-container{
background-image:url();
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item-has-children > a svg, .oxy-pro-menu .oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item-has-children > a svg{
font-size:24px;
}

.oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-open-container .menu-item-has-children ul, .oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-off-canvas-container .menu-item-has-children ul{
background-color:rgba(0,0,0,0.2);
border-top-style:solid;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .oxy-pro-menu-list{
                    flex-direction: row;
               }
.oxy-pro-menu .oxy-pro-menu-container .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item{
                    align-items: flex-start;
                }

            .oxy-pro-menu .oxy-pro-menu-off-canvas-container{
                    top: 0;
                    bottom: 0;
                    right: auto;
                    left: 0;
               }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item a, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }

            .oxy-site-navigation {
--oxynav-brand-color:#4831B0;
--oxynav-neutral-color:#FFFFFF;
--oxynav-activehover-color:#EFEDF4;
--oxynav-background-color:#4831B0;
--oxynav-border-radius:0px;
--oxynav-other-spacing:8px;
--oxynav-transition-duration:0.3s;
--oxynav-transition-timing-function:cubic-bezier(.84,.05,.31,.93);
}

.oxy-site-navigation .oxy-site-navigation__mobile-close-wrapper{
text-align:left;
}

.oxy-site-navigation > ul{ left: 0; }
.oxy-site-navigation {
                        --oxynav-animation-name: none; 
                    }

                .oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(1){ 
                    background-color: var(--oxynav-brand-color);
                    transition: var(--oxynav-transition-duration);
                    margin-left: var(--oxynav-other-spacing);
                    border: none;
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(2){ 
                    background: transparent;
                    border: 1px solid currentColor;
                    transition: var(--oxynav-transition-duration);
                    margin-left: var(--oxynav-other-spacing);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(2):not(:hover) > img{
                    filter: invert(0) !important;
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:hover{
                    background-color: var(--oxynav-activehover-color);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(1) > a{
                    color: var(--oxynav-neutral-color);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(2) > a{
                    color: var(--oxynav-brand-color);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:hover > a{
                    color: var(--oxynav-brand-color);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(1) > a::after{
                    color: var(--oxynav-neutral-color);   
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(2) > a::after{
                    color: var(--oxynav-brand-color);   
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:hover > a::after{
                    color: var(--oxynav-brand-color);   
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true'] > ul{
                    display: none;
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true'] > button, .oxy-site-navigation > ul:not(.open) > li[data-cta='true'] > ul{
                    display: none;
                }

                .ct-section-inner-wrap, .oxy-header-container{
  max-width: 1240px;
}
body {font-family: 'Montserrat';}body {line-height: 1.6;font-size: 16px;font-weight: 400;color: #404040;}.oxy-nav-menu-hamburger-line {background-color: #404040;}h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat';font-size: 36px;font-weight: 700;}h2, h3, h4, h5, h6{font-size: 30px;}h3, h4, h5, h6{font-size: 24px;}h4, h5, h6{font-size: 20px;}h5, h6{font-size: 18px;}h6{font-size: 16px;}a {color: #0074db;text-decoration: none;}a:hover {text-decoration: none;}.ct-link-text {text-decoration: ;}.ct-link {text-decoration: ;}.ct-link-button {border-radius: 3px;}.ct-section-inner-wrap {
padding-top: 75px;
padding-right: 20px;
padding-bottom: 75px;
padding-left: 20px;
}.ct-new-columns > .ct-div-block {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}.oxy-header-container {
padding-right: 20px;
padding-left: 20px;
}@media (max-width: 992px) {
				.ct-columns-inner-wrap {
					display: block !important;
				}
				.ct-columns-inner-wrap:after {
					display: table;
					clear: both;
					content: "";
				}
				.ct-column {
					width: 100% !important;
					margin: 0 !important;
				}
				.ct-columns-inner-wrap {
					margin: 0 !important;
				}
			}
.atomic-subheading {
 font-family:Montserrat;
 color:#2b2c27;
 font-size:24px;
 line-height:1.6;
 font-weight:200;
 max-width:480px;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;}
@media (max-width: 767px) {
.atomic-subheading {
 font-size:20px;
}
}

@media (max-width: 479px) {
.atomic-subheading {
 font-size:18px;
}
}

.atomic-secondary-heading {
 color:#2b2c27;
 font-weight:400;
 font-size:56px;
 line-height:1.1;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;}
@media (max-width: 1240px) {
.atomic-secondary-heading {
 font-size:52px;
}
}

@media (max-width: 767px) {
.atomic-secondary-heading {
 font-size:44px;
}
}

@media (max-width: 479px) {
.atomic-secondary-heading {
 font-size:40px;
}
}

.atomic-primary-button:hover{
 background-color:#6799b2;
 color:#ffffff;
}
.atomic-primary-button {
 font-family:Montserrat;
 background-color:#65bec2;
 padding-top:20px;
 padding-bottom:20px;
 padding-left:48px;
 padding-right:48px;
 font-size:20px;
 color:#ffffff;
 font-weight:700;
 line-height:1.2;
 letter-spacing:.25em;
 text-align:center;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale; transition-duration:0.5s;
 transition-timing-function:ease;
 transition-property:all;
 text-transform:none;
 text-decoration:none;
 font-style:normal;
}
@media (max-width: 991px) {
.atomic-primary-button {
 padding-top:16px;
 padding-left:36px;
 padding-right:36px;
 padding-bottom:16px;
}
}

@media (max-width: 767px) {
.atomic-primary-button {
 font-size:18px;
}
}

@media (max-width: 479px) {
.atomic-primary-button {
 font-size:16px;
}
}

.atomic-team-1-column {
 border-top-style:none;
 border-right-style:none;
 border-bottom-style:none;
 border-left-style:none;
 border-top-width:6px;
 border-right-width:6px;
 border-bottom-width:6px;
 border-left-width:6px;
 border-top-color:#eff4fb;
 border-right-color:#eff4fb;
 border-bottom-color:#eff4fb;
 border-left-color:#eff4fb;
 gap:20px;
}
.atomic-team-1-column:not(.ct-section):not(.oxy-easy-posts),
.atomic-team-1-column.oxy-easy-posts .oxy-posts,
.atomic-team-1-column.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
gap:20px;
}
.atomic-team-1-mate {
}
.atomic-team-1-title {
 font-family:'Inter Tight';
 line-height:1.2;
 font-size:22px;
 font-weight:600;
 margin-bottom:4px;
 color:#000000;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale; text-transform:none;
}
.atomic-team-1-text {
 font-family:'Inter';
 font-size:16px;
 line-height:1.6;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale; font-weight:400;
 color:#666666;
 text-align:center;
}
.atomic-iconblock-15-wrapper {
 width:100%;
 background-color:#ffffff;
 margin-top:36px;
 padding-left:30px;
 padding-bottom:42px;
 padding-right:30px;
 text-align:center;
 box-shadow:0px 20px 40px rgba(0,0,0,0.1);
}
.atomic-iconblock-15-wrapper:not(.ct-section):not(.oxy-easy-posts),
.atomic-iconblock-15-wrapper.oxy-easy-posts .oxy-posts,
.atomic-iconblock-15-wrapper.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
}
.atomic-iconblock-15-text {
 color:#3b3c38;
 font-size:18px;
 font-weight:400;
 line-height:1.6;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;}
.atomic-iconblock-15-title {
 font-weight:500;
 font-size:18px;
 color:#566d8f;
 line-height:1.1;
 letter-spacing:.12em;
 margin-bottom:12px;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;}
.atomic-iconblock-15-icon {
background-color: #6799b2;
border: 1px solid #6799b2;
padding: 24px;color: #ffffff;}.atomic-iconblock-15-icon 
>svg {width: 30px;height: 30px;}.atomic-iconblock-15-icon {
 margin-top:-40px;
 margin-bottom:24px;
}
.hyperion-logogrid-3-image {
 width:22%;
}
@media (max-width: 767px) {
.hyperion-logogrid-3-image {
 width:36%;
}
}

@media (max-width: 479px) {
.hyperion-logogrid-3-image {
 width:65%;
}
}

.hyperion-logogrid-3-right-arrow {
background-image:url(http://hyperion.oxy.host/wp-content/uploads/sites/48/2018/04/slider-arrow@2x.png);background-size: cover; width:60px;
 background-repeat:no-repeat;
z-index: 1000;
}
.hyperion-logogrid-3-left-arrow {
background-image:url(http://hyperion.oxy.host/wp-content/uploads/sites/48/2018/04/slider-arrow@2x.png);background-size: cover; width:30px;
 background-repeat:no-repeat;
 margin-left:-30px;
 position:absolute;
 left:0px;
transform: rotate(180deg); z-index: 1000;
}
.transition:hover{
 transition-duration:0.3s;
}
.transition {
 transition-duration:0.3s;
}
.oxy-superbox-primary {
}
.oxy-superbox-secondary {
}
.industry-heading {
 color:#ffffff;
 font-weight:700;
 text-transform:uppercase;
 font-size:28px;
 line-height:1;
 margin-top:5px;
 margin-bottom:5px;
 text-align:center;
}
.cell {
}
.cursor-pointer:hover{
cursor: pointer;
}
.cursor-pointer {
cursor: pointer;
}
.oxy-stock-content-styles {
}
.tabs-5523-tab:hover{
 background-color:#4e4e4e;
 color:#ffffff;
 transition-duration:0.3s;
}
.tabs-5523-tab {
 border-top-style:solid;
 border-right-style:solid;
 border-bottom-style:solid;
 border-left-style:solid;
 border-top-width:1px;
 border-right-width:1px;
 border-bottom-width:1px;
 border-left-width:1px;
 border-top-color:#262626;
 border-right-color:#262626;
 border-bottom-color:#262626;
 border-left-color:#262626;
 padding-right:25px;
 padding-left:25px;
 padding-top:11px;
 padding-bottom:11px;
 font-weight:500;
 font-size:15px;
 transition-duration:0.3s;
}
@media (max-width: 767px) {
.tabs-5523-tab {
 width:48%;
 text-align:center;
 padding-right:5px;
 padding-left:5px;
 font-size:14px;
}
.tabs-5523-tab:not(.ct-section):not(.oxy-easy-posts),
.tabs-5523-tab.oxy-easy-posts .oxy-posts,
.tabs-5523-tab.ct-section .ct-section-inner-wrap{
display:flex;
align-items:center;
justify-content:center;
}
}

.tabs-5523-tab-active {
 color:#ffffff;
 background-color:#4e4e4e;
}
.tabs-contents-5523-tab {
 width:100%;
 max-width:992px;
 padding-top:50px;
 margin-left:auto;
 margin-right:auto;
}
.tabs-contents-5523-tab:not(.ct-section):not(.oxy-easy-posts),
.tabs-contents-5523-tab.oxy-easy-posts .oxy-posts,
.tabs-contents-5523-tab.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
}
@media (max-width: 767px) {
.tabs-contents-5523-tab {
 padding-left:0px;
 padding-right:0px;
}
}

.top_bar_menu {
 font-family:'Inter';
 font-size:12px;
 color:#000000;
 font-weight:400;
}
.cta-btn:hover{
background-color :#cbb26a;
border: 1px solid #cbb26a;
}.cta-btn:hover{
}
.cta-btn {
background-color :#fbcc00;
border: 1px solid #fbcc00;
color: #000000;
padding: 12px 19.2px;
}.cta-btn {
 font-family:'Inter';
 button-hover_color:#cbb26a;
 font-size:16px;
 font-weight:700;
 min-width:180px;
}
@media (max-width: 479px) {
.cta-btn {
 width:100%;
}
}

.cta-btn-white:hover{
background-color :#cbb26a;
border: 1px solid #cbb26a;
}.cta-btn-white:hover{
}
.cta-btn-white {
background-color :#f4f4f4;
border: 1px solid #f4f4f4;
color: #000000;
}.cta-btn-white {
 button-hover_color:#cbb26a;
}
@media (max-width: 479px) {
.cta-btn-white {
 width:100%;
}
}

.section_cta-strip {
}
.block_3columns-icons {
}
.logo-slider {
 width:100%;
 background-color:#ffffff;
}
.logo-slider:not(.ct-section):not(.oxy-easy-posts),
.logo-slider.oxy-easy-posts .oxy-posts,
.logo-slider.ct-section .ct-section-inner-wrap{
display:flex;
}
.logo-slide {
 width:100%;
}
.logo-slide:not(.ct-section):not(.oxy-easy-posts),
.logo-slide.oxy-easy-posts .oxy-posts,
.logo-slide.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:center;
}
.logo-div {
 width:16.67%;
 height:80px;
}
.logo-div:not(.ct-section):not(.oxy-easy-posts),
.logo-div.oxy-easy-posts .oxy-posts,
.logo-div.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:center;
justify-content:center;
}
.delay {
}
.toggle-1635 {
}

                .toggle-1635 .oxy-expand-collapse-icon {
            font-size: 16px;        }
        
                .toggle-1635 .oxy-expand-collapse-icon::before,
        .toggle-1635 .oxy-expand-collapse-icon::after {
            background-color: #000000;        }
        
        .toggle-1635-expanded {
}
.toggle-1480 {
}

                .toggle-1480 .oxy-expand-collapse-icon {
            font-size: 16px;        }
        
                .toggle-1480 .oxy-expand-collapse-icon::before,
        .toggle-1480 .oxy-expand-collapse-icon::after {
            background-color: #000000;        }
        
        .toggle-1480-expanded {
}
.toggle-2100 {
}
.toggle-2100-expanded {
}
.toggle-1299 {
}

                .toggle-1299 .oxy-expand-collapse-icon {
            font-size: 20px;        }
        
                .toggle-1299 .oxy-expand-collapse-icon::before,
        .toggle-1299 .oxy-expand-collapse-icon::after {
            background-color: #000000;        }
        
        .toggle-1299-expanded {
}
.normal-text-inter {
 font-family:Inter;
 color:#525252;
 font-size:18px;
}
.contact-form {
 font-family:Inter;
}
.block_icon-text {
 gap:12px;
}
.block_icon-text:not(.ct-section):not(.oxy-easy-posts),
.block_icon-text.oxy-easy-posts .oxy-posts,
.block_icon-text.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
gap:12px;
}
.normal-text-inter-16 {
 font-family:Inter;
 font-size:16px;
 line-height:1.5;
 color:#525252;
}
.normal-text-inter-center {
 font-family:Inter;
 color:#525252;
 font-size:18px;
 text-align:center;
}
#menu-main{
 display:flex;
 gap:40px;
 flex-direction:row;
}
